/* Estilos Gerais e Tema Claro*/
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: oklch(63.7% 0.237 25.331);
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px oklch(63.7% 0.237 25.331);
}

input#campo-busca {
    width: 400px;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, background-color 0.3s;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
    overflow: hidden;
}

#theme-toggle .sun-icon {
    display: none;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px oklch(63.7% 0.237 25.331);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px oklch(57.7% 0.245 27.325);
}

.card h2 {
    margin-top: 0;
}

.featured-games {
    text-align: center;
    padding: 20px;
}

.games-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game-link {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.game-link:hover {
    transform: scale(1.1);
    color: #ef4444; /* Equivalente ao red-500 do Tailwind CSS */
}

.game-link img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-links a:hover {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a:hover {
    color: #ef4444; /* Equivalente ao red-500 do Tailwind CSS */
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Tema Escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px oklch(63.7% 0.237 25.331);
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #444;
}

body.dark-mode .card:hover {
    box-shadow: 0 4px 15px oklch(63.7% 0.237 25.331);
}

body.dark-mode a {
    color: oklch(63.7% 0.237 25.331);
}

body.dark-mode .game-link {
    color: #e0e0e0;
}

body.dark-mode #theme-toggle {
    background-color: #444;
    color: #e0e0e0;
    border-color: #555;
}

body.dark-mode #theme-toggle .moon-icon {
    display: none;
}

body.dark-mode #theme-toggle .sun-icon {
    display: block;
}

body.dark-mode input#campo-busca {
    background-color: #444;
    color: #e0e0e0;
    border-color: #555;
}


.page-genre {
    font-family: "Playfair Display", serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.page-genre header {
    padding: 20px;
    text-align: center;
    position: relative;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(30,30,30,0.5));
    color: white;
    box-shadow: 0px 2px 5px oklch(63.7% 0.237 25.331);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-genre header h1 {
    margin: 0 auto;
    font-size: 2em;
}

.page-genre main article, .page-genre .lists-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px oklch(57.7% 0.245 27.325);
}

.page-genre .lists-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page-genre .list-section {
    width: 45%;
    min-width: 300px;
}

.page-genre .list-section h3 {
    border-bottom: 2px solid oklch(63.7% 0.237 25.331);
    padding-bottom: 10px;
}

.page-genre .list-section ul {
    list-style-type: none;
    padding: 0;
}

.page-genre .list-section li {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-genre .back-link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;
    color: oklch(57.7% 0.245 27.325);
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
    box-shadow: 0 2px 5px oklch(63.7% 0.237 25.331);
}

.page-genre .back-link:hover {
    transform: scale(1.1);
    color: oklch(63.7% 0.237 25.331);
}

.page-genre .platform-button {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0 2px 5px oklch(63.7% 0.237 25.331);
}

.page-genre .platform-button:hover {
    transform: scale(1.1);
    background-color: oklch(63.7% 0.237 25.331);
}

.page-genre .button-container {
    display: flex;
    gap: 10px;
}

.page-genre .hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin-top: 15px
}

.page-genre .visible {
    opacity: 1;
    transform: translateY(0);
}

.page-genre .footer {
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(30,30,30,0.5));
}

.page-genre .trailer-button {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 2px 5px oklch(63.7% 0.237 25.331);
}

.page-genre .trailer-button:hover {
    transform: scale(1.1);
    background-color: oklch(63.7% 0.237 25.331);
}

.page-genre .modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.page-genre .modal-content {
    background-color: #1a1a1a;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.page-genre .modal-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.page-genre .modal-close-button:hover,
.page-genre .modal-close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.page-genre #trailerContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.page-genre #trailerContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}